@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

@font-face {
  font-family: 'NotoSans-SemiBold'; 
  src: url('NotoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'NotoSans-Regular'; 
  src: url('NotoSans-Regular.ttf');

}